#dashboard {
  #listings {
    display: flex;
    flex-flow: row nowrap;

    .listing-item {
      // min-width: 25%;
      margin: 0 auto;
      object-fit: cover;
      border-radius: 55;
      margin: 0 50px;
      height: 52vh;

      .image-style {
        object-fit: cover;
        height: 220px;
        width: 226px;
      }
    }
  }
}
