#form-container{
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     padding: 50px 25%;
     height: 100vh;
     #form{
          padding: 60px 50px;
          background-color:gainsboro;
          border-radius: 6px;
          label{
               display: flex;
               flex-flow: column nowrap;
          }
     }
}